.dropdown-menu{transform: translate3d(100px, -240px, 0px)!important;}
.modal-backdrop {
    position: relative;
    top: 0;
    right: 0;
    z-index: 1040;
    width: 70vw;
    height: 1vh;
    background-color:transparent !important;}


.new-sidebar  {
        display: flex;
        flex-direction: column;
        top: 0;
        width: 320px;
        max-width: 100%;
        max-height: 100%;
        margin: 0;
        outline: 0;
        transform: translateX(0);
}

  .SettingButton{ float:right;   }
  .vs-button {
    padding: 5px 0px !important; 
    width:60px; height:40px;position:relative; right:0px; top:0px;

  }

  .left-menu{ background-color:#ffffff; position: absolute;
    z-index: 100000;}
  .vs-sidebar{margin-left: 15px !important;  }
  