/*@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-vue-3/dist/bootstrap-vue-3.css";*/
@import "./controller.css";
@import "./color.css";
@import "./reset.css";
@import "./DateTimeChoose.css";
@import "./app.css";

/* root */
:root {
    --font-family: Segoe UI, Avenir, Helvetica, Arial, sans-serif;

    --app_header: normal normal bold 20px/30px Segoe UI;
    --app_title: normal normal bold 20px/30px Segoe UI;

    --firstHeader: normal normal bold 20px/30px Segoe UI;
    --secondHeader: normal normal bold 20px/30px Segoe UI;

    --firstfont: normal normal bold 20px/30px Segoe UI;
    --secondfont: normal normal bold 20px/30px Segoe UI;
}
/* 
.font {
    font-style:normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 20px;
    font-family: Segoe UI, Avenir, Helvetica, Arial, sans-serif;
    line-height: 30px;
    color: #000000;
} */