/*@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-vue-3/dist/bootstrap-vue-3.css";*/
@import "./controller.css";
@import "./color.css";
@import "./reset.css"; 
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

.libraryPage{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  }
  
  .container{
      display: flex;
      flex-direction: column;
      align-content: space-between;
  }
  
  .containerHeader{
      min-height:110px;
  }
  
  .container2{
      min-height:500px;
   }
  #container3{
    width:100%;
      justify-content: space-between;
      margin-top:30px;
      position: fixed;
      bottom:0px;
      z-index: 1;
   }

   #container3  .button1{float: left;}
   #container3  .button2{float: right;}
  
   .col{
      margin-top:10px;
   }
  
  /* header */
  .title1{
      text-align: left;
      font: normal normal bold 26px/35px Segoe UI;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
  }
  
  .title2{
  color: var(--unnamed-color-096bcc);
  text-align: left;
  font: normal normal bold 20px/30px Segoe UI;
  letter-spacing: 0px;
  color: #096BCC;
  opacity: 1;
  }
  
  
  .firstHeader{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 15px;
  }

  .firstHeader > div{text-align: left; padding-left: 30;}
  
  .secondHeader{
      text-align: left;
      font: normal normal 600 12px/16px Segoe UI;
      letter-spacing: 0px;
      color: #787878;
      opacity: 1;
  }
  
  #catalogue{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  }
  
  .cataloguebutton{
      border:none;
      background:white;
      text-align: left;
  font: normal normal 600 13px/16px Segoe UI;
  letter-spacing: 0px;
  color: #4A4A4A;
  opacity: 1;
  
  }
  
  
  .cataloguebutton2{
      border:none;
      background:white;
      text-align: left;
  font: normal normal 600 13px/16px Segoe UI;
  letter-spacing: 0px;
  color: #096BCC;
  opacity: 1;
  }
  
  
  
  /* /triangle */
  #triangle {
      width: 0;
      height: 0;
      border-top: 10px solid rgb(22, 22, 22);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
  }
  #uppertriangle {
      width: 0;
      height: 0;
      border-bottom: 10px solid rgb(22, 22, 22);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
  }
  
  #triangle2 {
      width: 0;
      height: 0;
      border-top: 10px solid rgb(22, 22, 22);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
  }
  
  #uppertriangle2 {
      width: 0;
      height: 0;
      border-bottom: 10px solid rgb(22, 22, 22);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
  }
  
  
  
  #triangle3 {
      width: 0;
      height: 0;
      border-top: 10px solid rgb(22, 22, 22);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
  }
  
  
  
  /* Dropdown Button */
  .dropbtn {
      min-height: 20px;
      min-width: 250px;
      height:52px;
      background:#DBDBDB33;
      box-shadow: 0px 3px 6px #DBDBDB33;
      font-weight: bold;
      padding-right: 160px;
      border: 1px solid #f8f6f6;
      cursor: pointer;
      border: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 5px 8px 5px;
      opacity:1;
      color: #096BCC;
      font: normal normal bold 16px/21px Segoe UI;
  
  }
  
  
  /* The container <div> - needed to position the dropdown content */
  #districtDropdown, #libraryDropdown { /* <--Updated */
    position: relative;
    display: inline-block;
    min-height: calc(32px * 14 + 2px);
    text-align: left
  }
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      min-width: 250px;
      display:block;
      position: absolute;
      background-color: white;
      border: 1px solid #ddd;
      z-index: 1;
      overflow: auto;
      width:100%;
      max-height:447px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 5px 5px;
      text-decoration: line-through;
      display: block;
      border-bottom: 0.8px solid #f3f0f0;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
      font-weight: bold;
      position:relative;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #096BCC;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
      font-weight: bold;
      position:relative;
  }
  
    
   .dropdown-content a:hover::after{
      content:"";
      position:absolute;
      top:calc(50%-5px);
      right:0;
      width:0;
      height:0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid white;
  } 
  
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
      display: block;
  }
  
  
  .rectangle1{
  height:72px;
  border: 1px solid #f8f6f6;
  margin-top:10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center
  }
  
  #workstationtype{
      accent-color: #096BCC;
      display: flex;
      justify-content: space-evenly;
      align-items: center
  }
  
  
  .firstfont{
      color: black;
      font:  normal normal bold 16px/26px Segoe UI;
      text-align:left;} 
  .secondfont{
      color: black;
      font: normal normal 16px/26px Segoe UI;
  }
  
  .fa-exclamation{
      border-radius: 50%;
      width:30px;
      height:30px;
      border: 1px solid #D4D4D4;
  }
  
  #exclamationicon {
          display: flex;
      justify-content: center;
      align-items: center
      }
  
  
  
  
  /* bottom button */
  
  .button1{
      font:  #676767;
      border:none;
      height:44px;
      width:189px;
      background: transparent linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%) 0% 0% no-repeat padding-box;
      border: 1px solid #D4D4D4;
      border-radius: 4px;
      opacity: 1;
      font: normal normal 600 16px/21px Segoe UI;
  }
  
  
  .button2{
      border:none;
      height:44px;
      width:224px;
      font:  #676767;
      border:none;
      background: #096BCC;
      /* background: transparent linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%) 0% 0% no-repeat padding-box; */
      border: 1px solid #D4D4D4;
      border-radius: 4px;
      opacity: 1;
      font: normal normal 600 16px/21px Segoe UI;
  }
  
  
  .checkedboxstyle{
      accent-color: #096BCC;
  }
  
  .containerbutton{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
     
  }
  
  #title { 
      display: inline;
      min-width: 419px;
  }
  
  #catalogue { 
      display: inline;
      min-width: 877px;
  }
  
  
  .buttonNext{
      height:44px;
      width: 89px;
      font:  #676767;
      font-weight:bold ;
      background: #F2F2F2;
      border: 1px solid #D4D4D4;
      border-radius: 4px;
      opacity: 1;
      font: normal normal 600 16px/21px Segoe UI;
     
  }
  
  #containerMobile2{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: 52px;
    flex-direction: row
  }
  
  @media only screen and (max-width: 800px) {
    #container3 {
    display: none;
   }
   }
   
   @media only screen and (min-width: 801px) {
   #containerMobile2 {
   display: none;
   }
   }