.workStationGroupFieldTitle {
    color: #096BCC;
    font-weight: bold;
}

.workStationGroupFieldValue {
    font-weight: bold;
    display: inline;
}

#workstationGroupSessionTime {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

#workstationGroupSessionDetails {
    width: 100%;
}

#workstationGroupSessionDetails tr {
    height: 30px;
}

#workstationGroupSessionDetails tr:nth-child(odd) {
    background-color: white;
}

#workstationGroupSessionDetails tr:nth-child(even) {
    background-color: #F3F3F3;
}

#workstationGroupSessionDetails th {
    background-color: #676767;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}

#workstationGroupSessionDetails td {
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px dotted #BBBBBB;
}

#workstationGroupSessionDetails td:nth-child(odd) {
    width: 50px;
}

.workstationGroupRadioButton {
    width: 18px;
    height: 18px;
    margin-top: 6px;
}

#workstationGroupFooter {
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

#workstationGroupFooter button {
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    height: 4%;
    min-height: 44px;
}

#workstationGroupReset {
    background-image: linear-gradient(#FEFEFE, #F2F2F2);
    color: #676767;
    width: 8%;
    min-width: 96px;
}

#workstationGroupBack {
    background-image: linear-gradient(#FEFEFE, #F2F2F2);
    color: #676767;
    width: 8%;
    min-width: 96px;
}

#workstationGroupNext {
    float: right;
    background-image: linear-gradient(#1B7BD4, #0164C1);
    color: white;
    width: 14.5%;
    min-width: 174px;
}